/* remember that you need to use css comments style and not scss or others here. You can always use postcss-scss parser to be able to use '//' style comments */
/* you don't need to use .import.css extension here because of the configuration in the package.json file */
@import 'test';
@import 'test/test2';
/* you don't need to name the file with the .import.css extension because it is in the 'imports' folder */
@import 'imports/test-from-imports-folder';

$column: 700px;

/* rucksack alias feature */
@alias {
  t: transform;
  w: width;
}

.test2 {
    t: translateX(10%);
    w: $column;
    h1 {
        font-size: responsive;
        color: red;
    }
}
