@import 'test.import.pcss';
@import 'test/test2.import.pcss';

$column: 700px;

.test2 {
    transform: translateX(10%);
    width: $column;
    h1 {
        font-size: responsive;
        color: red;
    }
}
